.navbar{
    background-color: rgb(4, 30, 52);
    color:aliceblue;
    /* padding:10px; */
    height:80px;  
    width:100%;
    text-align:center;
    display: flex;
    flex-wrap: wrap;        /* allows multiple rows */
    justify-content: center;
    align-items: center;
    /* justify-content:center; */
    
}
.navbar h1{
    padding:10px 20px;
    text-align:center;

   
}